<ion-content style="--background: #ffffff; --overflow: auto;">

  <div style="padding: 70px 28px 40px 28px; background: #ffffff; min-height: 100%;">

<h1 style="font-size: 2.4rem; font-weight: 900; color: #000000; text-align: center; margin-bottom: 16px;">
  Unete al Sistema
</h1>

<p style="font-size: 1.2rem; color: #64748b; text-align: center; margin-bottom: 48px;">
  Registrate para administrar incidentes
</p>

<div style="margin-bottom: 28px;">
  <label style="color: #1e293b; font-size: 1rem; font-weight: bold; display: block; margin-bottom: 8px;">
    RUT Administrador
  </label>

  <input
    [(ngModel)]="rutAdmin"
    type="text"
    placeholder="Ej: 20.453.123-K"
    style="width: 100%; padding: 14px; border: 1px solid #cbd5e1; color: #000000; background-color: #f8fafc; font-size: 1rem; border-radius: 8px; outline: none;">
</div>

<div style="margin-bottom: 28px;">
  <label style="color: #1e293b; font-size: 1rem; font-weight: bold; display: block; margin-bottom: 8px;">
    Usuario
  </label>

  <input
    [(ngModel)]="usuarioAdmin"
    type="text"
    placeholder="Crea un usuario Ej: Genesis"
    style="width: 100%; padding: 14px; border: 1px solid #cbd5e1; color: #000000; background-color: #f8fafc; font-size: 1rem; border-radius: 8px; outline: none;">
</div>

<div style="margin-bottom: 12px;">
  <label style="color: #1e293b; font-size: 1rem; font-weight: bold; display: block; margin-bottom: 8px;">
    Contraseña
  </label>

  <input
    [(ngModel)]="contrasenaAdmin"
    type="password"
    placeholder="********"
    style="width: 100%; padding: 14px; border: 1px solid #cbd5e1; color: #000000; background-color: #f8fafc; font-size: 1rem; border-radius: 8px; outline: none;">
</div>

<p style="color: #64748b; font-size: 0.9rem; font-weight: 600; margin-bottom: 36px;">
  Requisito: Minimo 4 letras, 1 numero y 1 caracter especial.
</p>

<button
  type="button"
  (click)="ejecutarRegistroDirecto()"
  style="width: 100%; height: 58px; background: #2455d9; color: #ffffff; border: none; border-radius: 8px; font-size: 1.1rem; font-weight: 900; box-shadow: 0 5px 12px rgba(0,0,0,0.22);">
  CREAR CUENTA
</button>

<div style="text-align: center; margin-top: 34px;">
  <button
    type="button"
    (click)="irAlLoginAlTiro()"
    style="background: none; border: none; color: #1d4ed8; font-size: 1rem; font-weight: 700; text-decoration: underline;">
    Volver al Login
  </button>
</div>

  </div>

</ion-content>
