<ion-header>
  <ion-toolbar>
    <ion-title>Emergencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input placeholder="Tipo" [(ngModel)]="nueva.tipo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Descripción" [(ngModel)]="nueva.descripcion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Ubicación" [(ngModel)]="nueva.ubicacion"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="agregar()">
    Agregar
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let e of emergencias">
      <ion-label>
        <h2>{{ e.tipo }}</h2>
        <p>{{ e.descripcion }} - {{ e.ubicacion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>