<ion-content class="login-content">

  <div class="login-container">

<h1 class="login-title">
  Sistema Valle del Sol
</h1>

<p class="login-subtitle">
  Ingresa tus credenciales
</p>

<div class="login-field">
  <label>
    RUT de Usuario
  </label>

  <input
    [(ngModel)]="usuarioAdmin"
    type="text"
    placeholder="20.453.123-K">
</div>

<div class="login-field">
  <label>
    Contrasena
  </label>

  <input
    [(ngModel)]="contrasenaAdmin"
    type="password"
    placeholder="********">
</div>

<button
  type="button"
  class="login-button"
  (click)="iniciarSesionAdmin()">
  INGRESAR
</button>

<button
  type="button"
  class="emergency-direct-button"
  style="background: #b91c1c; margin-top: 18px;"
  (click)="ingresarComoBomberos()">
  INGRESAR COMO BOMBEROS
</button>

<button
  type="button"
  class="emergency-direct-button"
  style="background: #16a34a; margin-top: 14px;"
  (click)="ingresarComoBrigada()">
  INGRESAR COMO BRIGADA MUNICIPAL
</button>

<div class="register-box">

  <p>
    ERES NUEVO Y NO TIENES CUENTA
  </p>

  <button
    type="button"
    class="register-button"
    (click)="irAlRegistro()">
    REGISTRATE AQUI
  </button>

</div>

<div class="divider"></div>

<div class="citizen-box">

  <p>
    Quieres reportar un incidente en la via publica
  </p>

  <button
    type="button"
    class="emergency-direct-button"
    (click)="ingresarComoCiudadano()">
    REPORTAR EMERGENCIA DIRECTO
  </button>

</div>

  </div>

</ion-content>
