<ion-header>
  <ion-toolbar color="success">
    <ion-title style="color: #ffffff !important; font-weight: bold;">
      Panel de Emergencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ffffff !important;">

  <div class="home-container">

    <h1>
      Bienvenid@<span *ngIf="nombreUsuario">, {{ nombreUsuario }}</span>
    </h1>

    <div class="map-card">
      <iframe
        class="map-frame"
        [src]="mapaGoogleSeguro"
        title="Mapa de ubicación actual"
        allowfullscreen>
      </iframe>
    </div>

    <div class="location-box">
      <p>{{ ubicacionEmergencia }}</p>

      <ion-button expand="block" color="medium" (click)="obtenerUbicacion()">
        OBTENER MI UBICACIÓN ACTUAL
      </ion-button>
    </div>

  </div>

</ion-content>

<ion-footer style="background-color: #ffffff !important; border: none;">
  <div class="footer-button">
    <ion-button expand="block" color="danger" (click)="irAReportar()">
      REPORTAR EMERGENCIA
    </ion-button>
  </div>
</ion-footer>