<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Panel de Emergencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center;">
    <h1>Bienvenid@, {{ nombreUsuario }}</h1>
    <p>Sistema Valle del Sol - Monitoreo Activo</p>
  </div>

  <ion-card>
    <ion-card-content style="padding: 0;">
      <div id="mapId" style="height: 300px; width: 100%; z-index: 1;"></div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" (click)="irAReportar()">
    REPORTAR EMERGENCIA
  </ion-button>
</ion-content>